<div class="col-md-4 mb-5">
  <h2>Contact Us</h2>
  <hr />
  <address>
    <strong>Computing and Programming Union (CPU)</strong>
<!--     <abbr title="Address">Address: </abbr> -->
    <p>Address: Heriot-Watt University Malaysia</p>
    <p>1, Jalan Venna P5/2, Precinct 5,</p>
    <p>62200 Putrajaya, Wilayah Persekutuan Putrajaya</p>
  </address>
  <address>
<!--     <abbr title="Email">Email: </abbr> -->
    <p>Email: </p>
    <a href="mailto:#">hwumcpu@gmail.com</a>
  </address>
  <address>
<!--     <abbr title="facebook">Facebook: </abbr> -->
    <p>Facebook: </p>
    <p>HWUM CPU</p>
  </address>
</div>
