<div class="col-md-4 mb-5">
  <h2>Contact Us</h2>
  <hr />
  <address>
    <strong>Computing and Programming Union (CPU)</strong>
    <abbr title="Address">Address: </abbr>
    <p>Heriot-Watt University Malaysia</p>
    <br />1, Jalan Venna P5/2, Precinct 5,
    <br />62200 Putrajaya, Wilayah Persekutuan Putrajaya
  </address>
  <address>
    <abbr title="Email">Email: </abbr>
    <a href="mailto:#">hwumcpu@gmail.com</a>
  </address>
  <address>
    <abbr title="facebook">Facebook: </abbr>
    <p>HWUM CPU</p>
  </address>
</div>
